---
import Layout from '../layouts/BlogPost.astro'
---

<Layout
  title='আমার সম্পর্কে'
  description='আমি একজন বিজনেস অ্যানালিস্ট!'
  pubDate={new Date('May 03 2025')}
  heroImage='/blog-placeholder-about.jpg'
>
  <p>আমি একজন বিজনেস অ্যানালিস্ট...</p>
  <p>
    বিগত ১১-বছর ধরে বিভিন্ন এনজিও এবং অলাভজনক প্রতিষ্ঠানের সাথে সামাজিক ও পরিবেশ
    উন্নয়ন সম্পর্কিত ব্যবসা তৈরি ও বৃদ্ধিতে বিভিন্ন ক্ষুদ্র, মাঝারি ও কর্পোরেট
    ব্যবসার সাথে কাজ করে আসছি।
  </p>
  <p>
    এই কাজগুলো করতে গিয়ে আমি দারুনভাবে ডকুমেন্ট তৈরি করে একটা ধারণাকে লেখার
    মাধ্যমে প্রস্তুত করা, স্প্রেডশিটের মাধ্যমে বিভিন্ন ধরণের অ্যানালিসিস দাঁড়া
    করানো এবং বিভিন্ন ধরণের তথ্যকে সুন্দরভাবে ডিজাইনকৃত প্রেজেন্টেশনের মাধ্যমে
    উপস্থাপন করায় নিজেকে দক্ষ পর্যায়ে নিয়ে গেছি।
  </p>
  <p>
    শুধু তাইই নয়, আমি বিজনেস ডেভেলপমেন্ট, ফাইন্যান্সিয়াল মডেলিং, ডাটা
    অ্যানালিসিস, ডিজিটাল মার্কেটিং এর পাশাপাশি ওয়েব ডেভেলপমেন্টের কাজও শিখেছি
    অনলাইনে বিভিন্ন ধরণের তথ্য উপস্থাপনের মাধ্যমে বিজনেস কমিউনিকেশন এর ডিজিটাল
    দিকগুলোকে কাজে লাগাতে।
  </p>
  <p>
    বর্তমানে আমি লেখালেখির কোর্স করছি, আমার অভিজ্ঞতাসমূহ সবার সামনে তুলে ধরতে
    আমি যা জানি তা সবার মাঝে ছড়িয়ে দিতে।
  </p>
  <p>
    আমার সিভি দেখতে ইচ্ছে হলে এখানে <a href='/resume_md_nazmul_huda.pdf'
      >ক্লিক করে ডাউনলোড</a
    > করতে পারবেন।
  </p>
  <p>আশা করছি আমার এই অভিযাত্রায় আপনিও সামিল হবেন।</p>
</Layout>
