---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Md. Nazmul Huda</title>
  </head>
  <body>
    <h1><span>I am</span><br />Md. Nazmul Huda</h1>
    <p>I am a business analyst.</p>
  </body>
</html>
