---

---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>Md. Nazmul Huda</title>
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Outfit:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <style>
      :root {
        font-family: 'Outfit', sans-serif;
        font-optical-sizing: auto;
        font-size: 150%;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-style: normal;
        height: 100vh;
        justify-content: center;
        text-align: center;
        width: 100vw;
      }
      a {
        color: darkgray;
      }
      a:active,
      a:focus,
      a:hover {
        color: gray;
      }
      h1 {
        font-family: 'Corinthia', cursive;
        font-size: 4.24rem;
        font-weight: 400;
      }
      .home-links {
        display: flex;
        font-size: 0.62rem;
        gap: 1rem;
        margin-top: 1rem;
      }
    </style>
  </head>
  <body>
    <h1>Md. Nazmul Huda</h1>
    <p>
      Empowering businesses to draft plans, build financial models, and present
      results with impact.
    </p>
    <p></p>
    <p class='home-links'>
      <a href='mailto:me@nazmul-huda.com'>Mail me!</a>
      <a href='/resume-nazmul.pdf'>Get my resume!</a>
    </p>
  </body>
</html>
