---

---

<html lang='bn'>
  <header>
    <meta charset='utf-8' />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <title>মোঃ নাজমূল হুদা</title>
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Noto+Serif+Bengali:wght@100..900&display=swap'
      rel='stylesheet'
    />
    <style>
      :root {
        font-family: 'Noto Serif Bengali', serif;
        font-optical-sizing: auto;
        font-size: 150%;
      }
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      body {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-style: normal;
        height: 100vh;
        justify-content: center;
        text-align: center;
        width: 100vw;
      }
      a {
        color: darkgray;
      }
      a:active,
      a:focus,
      a:hover {
        color: gray;
      }
      h1 {
        font-family: 'Atma', system-ui;
        font-size: 4.24rem;
        font-weight: 400;
        font-style: normal;
      }
      .home-links {
        display: flex;
        font-size: 0.62rem;
        gap: 1rem;
        margin-top: 1rem;
      }
    </style>
  </header>

  <body>
    <h1>মোঃ নাজমূল হুদা</h1>
    <p>
      পরিকল্পনা ড্রাফট, ফাইন্যান্সিয়াল মডেল তৈরি, এবং ইম্প্যাকফুল রেজাল্ট
      প্রেজেন্টেশনে আনতে প্রতিষ্ঠানগুলোকে সাপোর্ট করে যাচ্ছি।
    </p>
    <p></p>
    <p class='home-links'>
      <a href='mailto:me@nazmul-huda.com'>আমাকে মেইল করুন!</a>
      <a href='/resume-nazmul.pdf'>আমার রিজিউমি দেখুন!</a>
    </p>
  </body>


</html>
